$primary-color-1: #FF7757;
$primary-color-2: #FFD2C7;

$second-color-1: #331811;
$second-color-2: #61291C;
$second-color-3: #172432;

$gray-font: #767E86;

$main-horizontal-padding: 220px;
$main-vertical-padding: 140px;

$xs: 0;
$sm: 576px;
$md: 768px;
// $lg: 992px;
$lg: 850px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
