@use '../variable.scss' as *;

.hero {
  .title {
    position: absolute;
    color: white;
    // left: 182px;
    top: 270px;
    // width: 60%;

    padding: 0px 182px;

    h1 {
      font-weight: 200;
    }

    @media screen and (max-width: $xxxl) {
      padding: 0px 100px;

    }

    @media screen and (max-width: $xxl) {
      padding: 0px 5%;
      top: 200px;
    }


    @media screen and (max-width: $lg) {
      padding: 0;
      width: 95%;
      // margin: 0 auto;
      left: 5%;
    }

  }

  .bookContainer {
    position: absolute;
    background-color: white;
    top: 700px;
    padding-left: 182px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 10px 10px 0px;

    display: flex;
    flex-flow: row nowrap;

    .bookOptions {
      display: flex;
      flex-flow: row nowrap;

      gap: 32px;
      padding: 60px 0px;
      padding-right: 100px;
    }

    .bookNow {
      padding: 60px 20px;
      background-color: $primary-color-1;
      /* top-left | top-right | bottom-right | bottom-left */
      border-radius: 0px 10px 10px 0px;
      color: white;
      // font-size: 36px;
      // max-width: 96px;
    }


    @media screen and (max-width: $xxxl) {
      padding-left: 100px;

    }

    @media screen and (max-width: $xxl) {
      padding-left: 5%;

      .bookOptions {
        padding-right: 50px;
      }
    }



    @media screen and (max-width: $md) {
      flex-flow: column nowrap;
      padding-left: 0;
      // margin: 0 auto;
      top: 650px;
      left: 5%;
      width: 90%;
      border-radius: 10px;


      .bookOptions {
        display: flex;
        flex-flow: column nowrap;

        padding: 30px 5%;
      }

      .bookNow {
        padding: 40px 20px;

        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 0px 0px 10px 10px;
        color: white;
      }
    }


  }


}

.backgroundImg {
  z-index: 0;
}


.cardSection {
  /* top | right | bottom | left */
  // padding: 140px 0 140px 182px;
  padding: 140px 182px;


  .cardSectionTop {
    margin-bottom: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

    .cardSectionTopButtons {
      display: flex;
      flex-flow: row nowrap;
      gap: 40px;
    }
  }

  .cardSectionBottom {

    // overflow-x: scroll;
    .cardSectionCards {
      display: flex;
      gap: 32px;
      // min-width: 1800px;

      .cardSectionOffer {
        max-width: 498px;
        background-color: #FFF8F1;
        border-radius: 26px;

        .cardSectionOfferBottom {
          padding: 40px 24px;
          display: flex;
          flex-flow: column nowrap;
          gap: 24px;

          #cardCity {
            margin-bottom: 8px;
            font-weight: 300;
            color: $gray-font;
          }

          .cardSectionOfferFooter {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            h4 {
              font-weight: 100;
            }

            span {
              color: $primary-color-1;
              font-weight: 400;
            }

            button {
              padding: 20px 40px;
              font-size: 20px;
              color: white;
              border-radius: 10px;
              border: none;
              background-color: $primary-color-1;
            }

          }
        }
      }
    }
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 450px;
    min-width: 0;
    margin: 0 20px;
    height: auto;
  }

  @media screen and (max-width: $xxxl) {
    padding: 140px 100px;
  }

  @media screen and (max-width: $xxl) {
    padding: 140px 5%;
  }


  @media screen and (max-width: $lg) {
    padding: 80px 5%;

    .cardSectionTop {
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 32px;
      margin-bottom: 50px;

      .cardSectionTopButtons {
        gap: 20px;
      }
    }

    .embla__slide {
      flex: 0 0 300px;
    }
  }


}

.cardSectionHeading {
  h3 {
    font-weight: 100;
  }

  .cardSectionHeadingLine {
    margin-top: 20px;
    border: solid 2px $primary-color-1;
    margin-bottom: 32px;
    max-width: 250px;
  }

  p {
    color: $gray-font;
  }
}


.blogSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  div {
    flex-basis: 50%;
  }

  #blogImage {
    width: 100%;
    height: auto;
  }

  .blogSectionArticle {
    max-width: 590px;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;

    h3 {
      font-weight: 100;
      max-width: 420px;
    }

    p {
      line-height: 52px;
    }

    a {
      color: $primary-color-1;
    }
  }


  @media screen and (max-width: $lg) {
    flex-flow: column nowrap;
    align-items: flex-start;
  }

}

.tripPlanner {
  padding: 140px 182px;
  display: flex;
  flex-flow: row nowrap;
  gap: 100px;

  .cardSectionHeading {
    max-width: 340px;
    min-width: 340px;
  }

  .tripPlannerTrips {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
  }

  @media screen and (max-width: $xxxl) {
    padding: 140px 100px;
  }

  @media screen and (max-width: $xxl) {
    padding: 140px 5%;
  }


  @media screen and (max-width: $lg) {
    padding: 80px 5%;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

}

.cardSectionReviews {
  display: flex;
  gap: 32px;

  .cardSectionReview {
    min-width: 663px;
    background-color: #F5F6F7;
    padding: 60px 40px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    position: relative;


    #cardName {
      font-weight: 200;
    }

    #avatar {
      position: absolute;
      left: 40;
      top: -50;
    }
  }
}