@use '../variable.scss' as *;

.hero {
  .title {
    position: absolute;
    color: white;
    // left: 182px;
    top: 270px;
    // width: 60%;

    padding: 0px 182px;

    h1 {
      font-weight: 200;
    }
  }

  .bookContainer {
    position: absolute;
    background-color: white;
    top: 708px;
    padding-left: 182px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 10px 10px 0px;

    display: flex;
    flex-flow: row nowrap;

    .bookOptions {
      display: flex;
      flex-flow: row nowrap;

      gap: 32px;
      padding: 60px 0px;
      padding-right: 100px;
    }

    .bookNow {
      padding: 60px 20px;
      background-color: $primary-color-1;
      /* top-left | top-right | bottom-right | bottom-left */
      border-radius: 0px 10px 10px 0px;
      color: white;
      // font-size: 36px;
      // max-width: 96px;
    }
  }
}

.backgroundImg {
  z-index: 0;
}


.cardSection{
  /* top | right | bottom | left */
  padding: 140px 0 140px 182px;
  
  .cardSectionTop{
    margin-bottom: 100px;

  }

  .cardSectionBottom{
    overflow-x: scroll;
    .cardSectionCards{
      display: flex;
      gap: 32px;
      min-width: 1800px;

      .cardSectionOffer{
        max-width: 498px;
        background-color: #FFF8F1;
        border-radius: 26px;
        .cardSectionOfferBottom{
          padding: 40px 24px;
          display: flex;
          flex-flow: column nowrap;
          gap: 24px;

          #cardCity{
            margin-bottom: 8px;
            font-weight: 300;
            color: $gray-font;
          }
          .cardSectionOfferFooter{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            h4{
              font-weight: 100;
            }

            span{
              color: $primary-color-1;
              font-weight: 400;
            }
            
            button{
              padding: 20px 40px;
              font-size: 20px;
              color: white;
              border-radius: 10px;
              border: none;
              background-color: $primary-color-1;
            }

          }
        }
      }
    }
  }
}

.cardSectionHeading{
  h3{
    font-weight: 100;
  }
  .cardSectionHeadingLine{
    margin-top: 20px;
    border: solid 2px $primary-color-1;
    margin-bottom: 32px;
    max-width: 250px;
  }
  
  p{
    color: $gray-font;
  }
}